body {
	position: relative;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.board {
	display: block;
	border: solid black 2px;
	background: lightgreen;
	height: 650px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.start {
	text-align: center;
	padding-top: 260px;
}

.square {
	display: inline-block;
	border: solid white 1px;
	float: left;
	height: 24px;
	width: 24px;
}

[data-snake="true"] {
	position: relative;
	background: #404040;
}

[data-snake="apple"] {
	background: white;
}

[data-snake="turd"] {
	background: black;
}

.diamond {
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-bottom-color: #808080;
	position: absolute;
	top: -12px;
}

.diamond:after {
	content: '';
	position: absolute;
	left: -12px;
	top: 12px;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-top-color: #808080;
}

.game-over {
	width: 100%;
	height: 100%;
	text-align: center;
}

.game-over h1 {
	padding-top: 200px;
}